input[type="checkbox"][id*="p-menu"] {
    display: none;
}

input[type="checkbox"][id*="p-menu"]+.p-menu.list {
    width: 100%;
    display: block;
}
input[type="checkbox"][id*="p-menu"]
    +.p-menu.list>label.p-menu{
        width: inherit;
        position: relative;
        display: inline-block;
}

input[type="checkbox"][id*="p-menu"]
    +.p-menu.list>label.p-menu:hover *{
    background-color: rgba(255, 255, 255, .4);
}

input[type="checkbox"][id*="p-menu"]
    +.p-menu.list>label.p-menu>*{
    position: relative;
    padding-top:1em;
    height:3em;
    float: left;
}

/*pull-down menu title*/
input[type="checkbox"][id*="p-menu"]
    +.p-menu.list>label.p-menu>*:nth-child(1){
    width: calc(100% - 36px);
}

input[type="checkbox"][id*="p-menu"]
    +.p-menu.list label.p-menu>*:nth-child(2){
    width: 36px;
}

/*icon*/
input[type="checkbox"][id*="p-menu"]
    +.p-menu.list>label.p-menu>.icon>.bar{
    position: absolute;
    width: 60%;
    height: 0.5px;
    top: 50%;
    background-color: black;
    transition-property: transform, top;
    transition-duration: .24s;
}

input[type="checkbox"][id*="p-menu"]
    +.p-menu.list>label.p-menu>.icon>.bar:nth-child(1){
    transform: translateY(-50%) translateX(-25%) rotate(60deg);
}

input[type="checkbox"][id*="p-menu"]
    +.p-menu.list>label.p-menu>.icon>.bar:nth-child(2){
    transform: translateY(-50%) translateX(25%) rotate(-60deg);
}

input[type="checkbox"][id*="p-menu"]:checked
    +.p-menu.list>label.p-menu>.icon>.bar:nth-child(1){
    transform: translateY(-50%) translateX(-25%) rotate(60deg) rotate3d(-.58,1,0,180deg);
}

input[type="checkbox"][id*="p-menu"]:checked
    +.p-menu.list>label.p-menu>.icon>.bar:nth-child(2){
    transform: translateY(-50%) translateX(25%) rotate(-60deg) rotate3d(.58,1,0,180deg);
}

/*list*/
div.p-menu.body{
    --size-of-contents: 3;
    --list-content-height: 2em;
}

div.p-menu.body>ul.p-menu {
    position: relative;
    margin: 0;
    padding: 0;
}
div.p-menu.body>ul.p-menu>li{
    width: calc(100% - 1em);
    height: 1.5em;
    margin: 0 0;
    padding: 0 0;
    padding-top: calc(calc(var(--list-content-height) / 2) - .75em);
    padding-bottom: calc(calc(var(--list-content-height) / 2) - .75em);
    padding-left: 1em;
    list-style-type: none;
}

ul.p-menu > li:hover {
    background-color: rgba(255, 255, 255, .4);
}

input[type="checkbox"][id*="p-menu"]
    +.p-menu.list+.p-menu.body>ul.p-menu{
    transition: height 0.24s;
    /*display: none !important;*/
    height: 0;
    overflow-y: hidden;
}

input[type="checkbox"][id*="p-menu"]:checked
    +.p-menu.list+.p-menu.body>ul.p-menu{
    height: calc(var(--list-content-height) * var(--size-of-contents));
}


input[type="checkbox"][id*="p-menu"]
    +.p-menu.list+.p-menu.body>ul.p-menu>li{
        position: relative;
        top: calc(100% - calc(var(--list-content-height) * var(--size-of-contents)));
}