:root {
    --default-duration: 0.24s;
}

body {
    position: relative;
    margin: 0 auto;
    padding: 0;

    max-width: 960px;
    height: 100%;
}


div#mainContent, footer {
    margin-left: 8px;
    margin-right: 8px;
    display: block;
    position: relative;
}

header {
    inset: 0 0 auto 0;
    height: 10vh;
    display: block;
    position: fixed;
    z-index: 50;
}

header+div#header_offset {
    display: block;
    position: static;
    height: 10vh;
    width: 100%;
    opacity: 0;
}
/*
header > *:nth-child(1){
    position: absolute;
    width: 100%;
    height: 100%;
}*/

header > *:nth-child(3){
    inset: 0 0 0 auto;
    height: 100%;
}

div#mainContent {
    width: inherit;
    position: relative;
    top: 10%;/*header分*/
    min-height: 80%;
}

footer {
    height: 10%;
}

.uline {
    border-bottom: solid;
    border-color: rgba(128, 128, 128, .2);
}

.ulines>*{
    border-bottom: solid;
    border-color: rgba(128, 128, 128, .2);
}

.content > .title + div {
    height: 3em;
}
.content > .title + div > a {
    height: inherit;
    color: unset;
    text-decoration: none;
}

.content > .title + div > a:hover {
    background-color: rgba(255, 255, 255, .4);
}

/*div#mainContent > div{
    width: 100%;
    min-height: 200px;
    background-image: url("../image/外観.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -80px;
}*/
ul, li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

div#mainContent>div {
    margin-left: 1.5em;
}

.headline {
    --height: calc(var(--height, 3em) - 1px);
    
    width: 60%;
    height: var(--height);
    border-bottom: 1px solid gray;
    margin: 1.5em 0;
}

div#mainContent>input[type="radio"][id^="target "]{
    opacity: 0;
    z-index: -1;
    display: none;
    visibility: hidden;
    position: absolute;
    pointer-events: none;
}

div#mainContent>div:not(.headline){
    width: 100%;
    white-space: nowrap;
    letter-spacing: -1em;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
}

div#mainContent>div:not(.headline)>*{
    width: 50%;
    white-space: normal;
    letter-spacing: normal;
    vertical-align: top;
}

div#mainContent>div.tgt1:nth-child(4n+7):not(.headline){
    flex-direction: row-reverse;
}

div#mainContent>div.tgt2:nth-child(4n+14):not(.headline){
    flex-direction: row-reverse;
}

div#mainContent>div:not(.headline)>*:not(.imageSelector){
    padding: 0 1.5em;;
    width: calc(50% - 3em);
}

.img-fit {
    height: 100%;
    position: relative;
}
.img-fit>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*
    max-width:100%;
    max-height:100%;
    */
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translateY(-50%) translateX(-50%);
}

div.nowHere {
    height: 3em;
}

div.nowHere>*{
    display: block;
    width: 100%;
    height: 100%;
    position: relative
}
div.nowHere>*>*{
    position: absolute;
    top: 50%;
    left: 2em;
    transform: translateY(-50%);
}